/*
 * Empty Stylesheet file.
 */

.book{
    -fx-background-color:#e7e7e7;
}
.br{
    -fx-background-color:red; 
}
.tab-header-background{
    -fx-background-color:   #1e2c39;
    
}
.bu:hover{
    -fx-background-color: green;
    -fx-cursor: hand;
}
