/*
 * Empty Stylesheet file.
 */

.jfx-button{
    -fx-background-color:#3F51B5;
    -fx-background-radius: 0px;
}
.date{
  -fx-font-size:16px; 
  -fx-border-color: #fff;
  -fx-border-width: 0 0 1 0;
  -fx-text-fill: #fff;

}

